{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":13},"action":"insert","lines":["Flask==0.12.0"],"id":29}],[{"start":{"row":0,"column":7},"end":{"row":0,"column":13},"action":"remove","lines":["0.12.0"],"id":30},{"start":{"row":0,"column":7},"end":{"row":0,"column":13},"action":"insert","lines":["0.10.1"]}],[{"start":{"row":0,"column":13},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":31}],[{"start":{"row":1,"column":0},"end":{"row":1,"column":13},"action":"insert","lines":["enum34==1.1.6"],"id":32}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":13},"end":{"row":1,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":44,"mode":"ace/mode/text"}},"timestamp":1528308252415,"hash":"7247fe453740901ba9b8990406f8270a9bf4bd78"}